body {
  font-family: 'Montserrat';
}

.navbar {
  background-color: #000000;
}

.nav-item{
  margin-right: 25px;
  font-weight: 200;
}

.nav-item a {
  color: #B7B7B7 !important;
  font-weight: 600;
}

.nav-item.active a {
  color: #ffffff !important;
  font-weight: 600;
}


.carousel{
  font-family: 'lora';
  height: 450px;
  background-color: #171717;
  color: white;
  height: 600px;
} 

.carousel p {
  font-weight: 450;
}

.carousel h1 {
  font-weight: 800;
}

.carousel h4 {
  font-weight: 450;
  padding-top: 100px !important;
}

.skill {
  margin-top: 50px;
  background-color: #B7B7B7;
  height: 250px;
}

.blog {
  padding-top: 100px;
}

.blog h4 {
  color: #171717;
}

.about {
 margin-top: 120px;
}

.portofolio {
  margin-top: 120px;
}

.portofolio h4, .portofolio h5 {
  color: #171717;
}

.blog-page {
  margin-top: 120px;
}

.contact {
  margin-top: 120px;
}

.map-responsive {
  position: relative;
      padding-bottom: 30%;
      height: 0;
      overflow: hidden;
}

.map-responsive iframe {
  position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
}

footer {
  margin-top: 100px;
  color: white;
}

